<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{#if @blog.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}

                <a class="social-link social-link-tw" href="https://www.instagram.com/rauschverbot/" target="_blank" rel="noopener">{{> "icons/instagram"}}</a>
            
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">{{t "Subscribe "}}</a>
        {{else}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/if}}
    </div>
</nav>
